@import "../App/App.scss";

.Content{
  margin: 0;
  width: calc(997/1440 * 100%);
  padding-right: 12.1rem;
}

.Aside{
  display: flex;
  flex-direction: column;
  width: calc(calc(443/1440) * 100%);
  padding-top: 2.1rem;
  height: 106rem;

  &__SideImage{
    height: 29.5rem;
    width: 100%;
    border-top-left-radius: 9rem;
    border-bottom-left-radius: 9rem;
    margin-bottom: 2.1rem;
    overflow: hidden;
    position: relative;
    
    img{
      animation-name: cf4FadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 80s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @keyframes cf4FadeInOut {
        0% {
          opacity:1;
        }
        5% {
          opacity:1;
        }
        6.25% {
          opacity:0;
        }
        98.75% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
    }
    
    @for $i from 1 through 16{
      img:nth-child(#{$i}){
        animation-delay: calc(80s - calc(5s * #{$i}));
      }
    }

    // img:nth-child(1) {
    //   animation-delay: 75s;
    // }
    // img:nth-child(2) {
    //   animation-delay: 70s;
    // }
    // img:nth-child(3) {
    //   animation-delay: 65s;
    // }
    // img:nth-child(4) {
    //   animation-delay: 60s;
    // }
    // img:nth-child(5) {
    //   animation-delay: 55s;
    // }
    // img:nth-child(6) {
    //   animation-delay: 50s;
    // }
    // img:nth-child(7) {
    //   animation-delay: 45s;
    // }
    // img:nth-child(8) {
    //   animation-delay: 40s;
    // }
    // img:nth-child(9) {
    //   animation-delay: 35s;
    // }
    // img:nth-child(10) {
    //   animation-delay: 30s;
    // }
    // img:nth-child(11) {
    //   animation-delay: 25s;
    // }
    // img:nth-child(12) {
    //   animation-delay: 20s;
    // }
    // img:nth-child(13) {
    //   animation-delay: 15s;
    // }
    // img:nth-child(14) {
    //   animation-delay: 10s;
    // }
    // img:nth-child(15) {
    //   animation-delay: 5s;
    // }
    // img:nth-child(16) {
    //   animation-delay: 0s;
    // }
  }

  &__List{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 4.5rem;
  }

  &__Employees{
    position: relative;
    height: 100%;
    width: 100%;
    border-top-left-radius: 9rem;
    background-color: $light-blue;
    padding: 6.4rem 4rem 0 4.8rem;
    z-index: 1;
    height: 72.3rem;
    
    &::after{
      position: absolute;
      content: "";
      background-image: url(/figma/cloud.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 508px;
      height: 273px;
      bottom: 2rem;
      right: -9rem;
      z-index: -1;
    }
  }

  &__EmployeeWrapper{
    margin-bottom: 2rem;
  }

  &__Meta{
    @include p-small(); 
    font-size: 1.4rem; 
    display: flex;
    flex-direction: column;
    line-height: 1.8;
  }
}

.Employee{
  @include p-small();
  color: $grey;

  &__Figure{
    display: flex;
  }

  &__Outer{
      min-width: 8rem;

      @include md{
        min-width: 10rem;
      }

      @include lg{
        min-width: 12rem;
      }

      @include xl{
        min-width: 14.8rem;
    }
  }

  &__ImageWrapper{
    max-width: 14.8rem;
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
  }

  &__Image{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__FigCaption{
    margin-left: 1.9rem;
    padding-top: .9rem;
  }

  &__Name{
    @include p-small();
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: .7rem;
  }
  
  &__Description{
    font-size: 1.4rem;
  }

}