.App {

    // &__Title{
    //     color: blue;
    //     font-size: 5rem;

    //     .App:hover &{
    //         color: red;
    //     }

    //     &--Pink{
    //         color: pink;

    //         .App:hover &{
    //             color: yellow;
    //         }
    //     }
    // }   
    &__Grid{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 1440px;
    }
}

