@import "../App/App.scss";

.Content {
  margin: 0;
  width: calc(997/1440 * 100%);
  padding: 6rem 12.1rem 0;

  &__Title{
    @include h1();
  }

  &__Text{
    @include p();
    white-space: pre-wrap;
  }  
}