@import "../App/App.scss";

.header {
    align-items: center;
    background-color: $light-blue;
    background-image: url(/figma/cloud.png), url(/figma/cloud.png);
    background-position: left center, right center;
    background-size: 500px, 350px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 9rem;

    &__svg-logo {
        height: 4.7rem;
        margin-left: 2.5rem;
        width: 12.7rem;
    }

    &__nav-section {
        align-self: center;
        margin-right: 1.5rem;
    }

    &__nav-section a {
        @include h2();
        margin: 0 1.5rem;
        text-decoration: none;
    }

    &__nav-section a:hover {
        color: $light-grey;
    }

    // &__clicked {
    //     padding: 1rem 1rem;
    //     padding-bottom: inherit;
    //     background-color: white;
    //     border-radius: 1rem 1rem 0 0;
    // }
}